.space {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.space.odd {
    // background: #cccccc;
    background: #779556;
}

.space.even {
    // background: #ffffff;
    background: #EBECD0;
}

.space.hover-start-from {
    background: yellow;
    color: black;
}

.space.hover {
    // background: grey;
    color: white;
}

.space.moved-to {
    // background: darkred;
    // background: #779556;
    background: yellowgreen;

    color: white;
}
