.space {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.space.odd {
    background: #779556;
}

.space.even {
    background: #EBECD0;
}

.space.active {
    background: orange;
    color: black;
}

.space.hover-start-from {
    background: yellow;
    color: black;
}

.space.hover-start-from {
    background: yellow;
    color: black;
}

.space.hover {
    color: white;
}

.space.moved-from {
    background: yellowgreen;
    color: black;
}

.space.moved-to {
    background: yellowgreen;

    color: white;
}

.dot {
    background: black;
    opacity: .25;
    border-radius: 50%;

    width: 34%;
    height: 34%;
}

.dot.with-piece, .big-dot {
    width: 75%;
    height: 75%;
}
