<div [class]="'board-position' + (((position && position.x || 0) + (position && position.y || 0)) % 2 ? ' odd' : ' even') + (activePosition === position ? ' active' : '') + (correctPosition === position ? ' correct' : '') + (movedFromPosition === position ? ' moved-from' : '') + (movedToPosition === position ? ' moved-to' : '') + (hoverPosition === position ? ' hover' : '') + (hoverStartFromPosition === position ? ' hover-start-from' : '')">
    <div *ngIf="position && (position.showDot || position.showBigDot)" [class]="'dot' + (position.piece ? ' with-piece' : '') + (position.showBigDot ? ' big-dot' : '')"></div>
    
    <div *ngIf="movedFromPosition || movedToPosition || activePosition || correctPosition || incorrectPosition"
        [class]="'highlight' + (movedFromPosition === position ? ' moved-from' : '') + (movedToPosition === position ? ' moved-to' : '') + (activePosition === position ? ' active' : '') + (correctPosition === position ? ' correct' : '') + (incorrectPosition === position ? ' incorrect' : '')">
    </div>

    <div *ngIf="correctPosition === position || incorrectPosition === position" [class]="'overlap-icon box-shadow' + (correctPosition === position ? ' correct' : '') + (incorrectPosition === position ? ' incorrect' : '')"></div>
</div>
