.position {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.position.odd {
    background: #779556;
}

.position.even {
    background: #EBECD0;
}

// .position.moved-from {
//     background: yellow;
//     color: black;
// }

// .position.moved-to {
//     background: yellow;

//     color: white;
// }

.highlight {
    position: absolute;

    opacity: .5;

    height: 100%;
    width: 100%;
}

.highlight.active {
    background: orange;
}
.highlight.moved-from,.highlight.moved-to {
    background: yellow;
}

.highlight.correct {
    background: green;
    color: black;
}

.position.hover-start-from {
    background: lightsalmon;// debugging only
    color: black;
}

.position.hover-start-from {
    background: lightsalmon;// debugging only
    color: black;
}

.dot {
    background: black;
    opacity: .25;
    border-radius: 50%;

    width: 34%;
    height: 34%;
}

.dot.with-piece, .big-dot {
    width: 75%;
    height: 75%;
}

.overlap-icon {
    position: absolute;
    right: -13%;
    top: -13%;
    width: 40%;
    height: 40%;
    z-index: 1;
    border-radius: 50%;
}

.overlap-icon.correct {
    background: green;
}

.overlap-icon.incorrect {
    background: red;
}
