<div class="draggable-container">
    <div class="draggable" 
        (cdkDragStarted)="handleDragStarted($event)"
        (cdkDragEnded)="handleDragEnded($event)"
        (cdkDragMoved)="handleDragMoved($event)"
        cdkDrag>
        <!-- <ng-container *ngIf="position">
            {{ position.x }}, {{ position.y }}: {{ position.index }}
        </ng-container> -->
    </div>

    <div *ngIf="hoverPosition === position" [class]="'hover-overlay' + (touchDragging ? ' touch-dragging' : '')"></div>
</div>
