<div class="wrapper">
    <div class="container">
        <div class="board-container">
            <div class="board-wrapper">
                <moo-board [boardManager]="boardManager"></moo-board>
            </div>
            <!-- <div class="board-wrapper">
                <moo-board [boardManager]="extraManager"></moo-board>
            </div> -->
        </div>

        <ng-container *ngIf="boardManager">
            <div class="move-notations">
                <div *ngFor="let boardHistory of boardManager.history; let i = index" class="move-notation">
                    <span>{{ i + 1 }}. {{ boardHistory.white.moveNotation }} {{ boardHistory.black ? boardHistory.black.moveNotation : '...' }}</span>
                </div>
            </div>

            <div>
                <a (click)="boardManager && boardManager.popMoveHistroy()">Back</a>
            </div>
            
            <div>
                Turn: {{ boardManager.turn }} Turn count: {{ boardManager.turnCount }}
            </div>
    
            <div>
                White: {{ boardManager.whiteKingIsInCheck ? 'IN CHECK' : 'SAFE' }} | Black: {{ boardManager.blackKingIsInCheck ? 'IN CHECK' : 'SAFE' }}
            </div>
            
            <div>
                <a (click)="boardManager && boardManager.flipBoardOrientation(true)">Flip board</a>
            </div>
        </ng-container>
    </div>
</div>
