<div *ngIf="boardManager" class="container box-shadow">
    <div class="move-notations">
        <div *ngFor="let boardHistory of boardManager.boardHistory; let i = index; let last = last" [class]="'move-notation' + (last ? ' last' : '')">
            <span>
                <span *ngIf="i % 2 === 0">{{ i / 2 + 1 }}. </span>{{ boardHistory.moveNotation }}
            </span>
        </div>

        <div class="move-notation">
            <span>&nbsp;</span>
        </div>
    </div>

    <div class="board-container">
        <div class="board-wrapper">
            <moo-board [boardManager]="boardManager"></moo-board>
        </div>
    </div>

    <ng-container *ngIf="boardManager">
        <div class="navigation">
            <div [class]="'back' + (boardManager.boardHistory.length ? ' active' : '')" (click)="boardManager && boardManager.popBoardHistory(true, true)">
                BACK
            </div>

            <div [class]="'back' + (boardManager.boardHistory.length ? ' active' : '')" (click)="boardManager && boardManager.redoMoveHistroy(true)">
                FORWARD
            </div>
        </div>

        <div class="next" (click)="practice()">
            <div [class]="'back'">
                PRACTICE
            </div>
        </div>
        
        <div [style.margin]="'12px'">
            Turn: {{ boardManager.turn }} Turn count: {{ boardManager.turnCount }} Openings: {{ ecoOpenings.length }}
        </div>
        
        <div class="flex-container">
            <mat-form-field>
                 <mat-label>Min Moves</mat-label>
                 <input matInput placeholder="Ex. 2 (white and black)" [value]="minMoves" (change)="updateMinMoves($event)">
             </mat-form-field>
         </div>

        <div class="flex-container">
            <mat-form-field>
                 <mat-label>Max Moves</mat-label>
                 <input matInput placeholder="Ex. 4 (white and black)" [value]="maxMoves" (change)="updateMaxMoves($event)">
             </mat-form-field>
         </div>

        <div class="flex-container">
           <mat-form-field>
                <mat-label>Move by notation</mat-label>
                <input matInput placeholder="Ex. e4" [value]="inputText" (change)="updateValue($event)">
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="boardManager && boardManager.moveUsingNotation(inputText); inputText = ''">Move</button>
        </div>
        
        <div [style.margin]="'12px'">
            <a (click)="boardManager && boardManager.flipBoardOrientation(true)">Flip board</a>
        </div>
    </ng-container>
</div>
