<div *ngIf="boardManager" class="container box-shadow">
    <div class="move-notations">
        <div *ngFor="let boardHistory of boardManager.boardHistory; let i = index; let last = last" [class]="'move-notation' + (last ? ' last' : '')">
            <span>
                <span *ngIf="i % 2 === 0">{{ i / 2 + 1 }}. </span>{{ boardHistory.moveNotation }}
            </span>
        </div>

        <div class="move-notation">
            <span>&nbsp;</span>
        </div>
    </div>

    <div class="board-container">
        <div class="board-wrapper">
            <moo-board [boardManager]="boardManager"></moo-board>
        </div>
    </div>

    <ng-container *ngIf="boardManager">
        <div class="navigation">
            <div [class]="'back' + (boardManager.boardHistory.length ? ' active' : '')" (click)="boardManager && boardManager.popBoardHistory(true, true)">
                BACK
            </div>

            <div [class]="'back' + (boardManager.boardHistory.length ? ' active' : '')" (click)="boardManager && boardManager.redoMoveHistroy(true)">
                FORWARD
            </div>
        </div>

        <div class="next" (click)="practice()">
            <div [class]="'back'">
                PRACTICE
            </div>
        </div>
        
        <div>
            Turn: {{ boardManager.turn }} Turn count: {{ boardManager.turnCount }} Openings: {{ ecoOpenings.length }}
        </div>

        <div>
           <input [value]="inputText" (change)="updateValue($event)">
           <a (click)="boardManager && boardManager.moveUsingNotation(inputText); inputText = ''">Move</a>
        </div>
        
        <div>
            <a (click)="boardManager && boardManager.flipBoardOrientation(true)">Flip board</a>
        </div>
    </ng-container>
</div>
