.title {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 24px 12px;
}

.board-container {
    margin-bottom: 12px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
    font-size: 20px;
}

.next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    font-size: 20px;
}